@import '../../styles/index.scss';

.loader {
  @include fullStretch();
  @include flexCentered();

  &__ellipsis {
    position: relative;
    width: 8rem;
    height: 2rem;
    text-align: center;

    div {
      position: absolute;
      top: 25%;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: .8rem;
        animation: animate-allipsis-1 0.6s infinite;
      }

      &:nth-child(2) {
        left: .8rem;
        animation: animate-ellipsis-3 0.6s infinite;
      }
      
      &:nth-child(3) {
        left: 3.2rem;
        animation: animate-ellipsis-3 0.6s infinite;
      }
      
      &:nth-child(4) {
        left: 5.6rem;
        animation: animate-ellipsis-2 0.6s infinite;
      }
    }
  }
}

@keyframes animate-allipsis-1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate-ellipsis-2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes animate-ellipsis-3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(2.4rem, 0);
  }
}