@import '../../styles/index.scss';

.menu {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    z-index: 5;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    menu__logout {
        grid-column: 1/2;
        grid-row: 2/3;
        
        menu__logout-btn {
            background-color: white;
            width: 5rem;
            height: 5rem;
        }
    }

    menu__navbar {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    menu__user {
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
