@forward './config/core';
@forward './config/colors';
@forward './config/fonts';
@forward './config/mixins';
@forward './config/measures';

@use './config/colors' as *;

.route-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: $color-bg-secondary;
}
