@use 'sass:color';
@use '../../styles/index' as *;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 98%;
    width: $sidebar-width;
    background: $color-bg-surface;
    border-radius: $card-border-radius;
    display: flex;
    flex-direction: column;
    color: $color-text-primary;
    overflow: hidden;
    user-select: none;
    transition: width .3s ease-in-out;
    margin: 1rem;

    &--collapsed {
        width: $sidebar-width-min;
    }
}

@keyframes icon-fade-cycle {
    0% { opacity: 0; }
    40% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}
