@use '../styles/index' as *;

.layout {
    @include fullViewport();
    position: relative;
    padding: 1rem;
    background: $color-bg-primary;

    &__content {
        @include fullStretch();
        overflow-y: auto;
        transition: padding-left .3s ease-in-out;
        padding-left: calc($sidebar-width + 1rem);

        .layout:has(.sidebar--collapsed) & {
            padding-left: calc($sidebar-width-min + 1rem);
        }
    }
}