@use '../styles/index' as *;

.layout {
    @include fullViewport();
    position: relative;
    overflow: hidden;

    &__content {
        @include fullViewport();
        background: $color-bg-secondary;
        transition: padding-left .2s ease-in-out;
    }
}